@media screen and (max-width: 1025px) {
  #what-we-do .card {
    padding: 2rem !important;
  }
  .heading h1{
    font-size: 2.8125rem;
    line-height: normal;
  }
    header .image-wrapper {
    height: 21.875rem;
  }
}

@media screen and (max-width: 992px) {
  header .inner {
    width: 70% !important;
    height: 18.75rem;
    margin: auto;
    margin-top: .9375rem;
  }

  header {
    height: auto;
    text-align: center;
    padding: 7.5rem 0 3.125rem 0;
  }

  .heading {
    max-width: 60%;
    margin-inline: auto;
  }

  .heading h1 {
    font-size: 2.5rem;
    line-height: normal;
    margin: 0;
  }

  .heading p {
    font-size: .875rem;
  }

  .buttons {
    justify-content: center;
    align-content: center;
  }

  .none {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 9%;
  }

  .section-heading {
    margin-bottom: 50px;
  }

  .section-heading h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .section-heading span {
    letter-spacing: .125rem;
  }

  .section-heading span.description {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .section-heading span.details {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #footer p {
    font-size: .875rem;
  }

  .footer-col h2 {
    font-size: 1.125rem;
    font-weight: 500;
  }

  #footer .details a,
  footer .details span {
    font-size: .875rem;
  }

  header .image-wrapper {
    margin-top: 1.875rem;
  }
  #contacts .contact-us {
    margin-bottom: 1.5625rem !important;
  }
}

@media (max-width: 600px) {
  #footer div.details {
    flex-flow: column wrap;
  }

  .heading {
    width: 100%;
    max-width: 90%;
  }

  header .buttons {
    flex-direction: column;
  }
  header .buttons a {
    margin-bottom: 10px;
    width: 100%;
  }

  header .label {
    left: 0;
  }

  #footer .footer-col {
    width: 100% !important;
  }

  #footer .footer-row .footer-col {
    text-align: center;
  }

  #footer .footer-col ul {
    justify-content: center !important;
  }
  #latest-games .image-holder {
    margin-bottom: .625rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 15%;
  }
  #what-we-do .image-holder {
    height: 18.75rem;
  }
  .heading h1 {
    font-size: 2.1875rem;
  }
  .heading p {
    font-size: .75rem;
    margin-top: .625rem;
  }
  header .image-wrapper {
    height: 18.125rem;
  }
  #latest-games .games {
    font-size: 1rem !important;
  }
  .section-heading span.description {
    font-size: 1.75rem;
  }
}
